In [9]:
import math
import pandas as pd

### Calculating Historical Vol

In [47]:
data = {'Day': range(1, 23), 
        'Price': [99.36, 98.73, 98.97, 99.94, 100.20, 101.47, 102.06, 101.5, 102.45, 102.89,
                  103.09, 103.71, 104.04, 105.17, 104.52, 104.32, 103.31, 102.27, 101.63, 101.22,
                  101.44, 101.04]}

In [48]:
df = pd.DataFrame(data)

In [49]:
df

    Day   Price
0     1   99.36
1     2   98.73
2     3   98.97
3     4   99.94
4     5  100.20
5     6  101.47
6     7  102.06
7     8  101.50
8     9  102.45
9    10  102.89
10   11  103.09
11   12  103.71
12   13  104.04
13   14  105.17
14   15  104.52
15   16  104.32
16   17  103.31
17   18  102.27
18   19  101.63
19   20  101.22
20   21  101.44
21   22  101.04

In [50]:
nl_ret = [math.nan]
sq_nl = [math.nan]
prev = None
for index, row in df.iterrows():
    if index == 0:
        prev = row['Price']
        continue
    nl_ret.append(math.log(row['Price']/prev))
    sq_nl.append(math.log(row['Price']/prev)**2)
    prev = row['Price']

In [51]:
df['Log'] = nl_ret
df['Log_square'] = sq_nl

In [52]:
df

    Day   Price       Log  Log_square
0     1   99.36       NaN         NaN
1     2   98.73 -0.006361    0.000040
2     3   98.97  0.002428    0.000006
3     4   99.94  0.009753    0.000095
4     5  100.20  0.002598    0.000007
5     6  101.47  0.012595    0.000159
6     7  102.06  0.005798    0.000034
7     8  101.50 -0.005502    0.000030
8     9  102.45  0.009316    0.000087
9    10  102.89  0.004286    0.000018
10   11  103.09  0.001942    0.000004
11   12  103.71  0.005996    0.000036
12   13  104.04  0.003177    0.000010
13   14  105.17  0.010803    0.000117
14   15  104.52 -0.006200    0.000038
15   16  104.32 -0.001915    0.000004
16   17  103.31 -0.009729    0.000095
17   18  102.27 -0.010118    0.000102
18   19  101.63 -0.006278    0.000039
19   20  101.22 -0.004042    0.000016
20   21  101.44  0.002171    0.000005
21   22  101.04 -0.003951    0.000016

In [66]:
annualized_vol = math.sqrt(df['Log_square'].iloc[1:].sum()/(len(df)-1))*math.sqrt(248)
print(annualized_vol*100)

10.634396563840404

### Filtering

In [93]:
decay_factor = .97

In [94]:
decays = []

for i in range(1, len(df)):
    decays.append(decay_factor**i)
decays.append(math.nan)

In [95]:
decays.reverse()
df['Decay'] = decays

In [96]:
df

    Day   Price       Log  Log_square     Decay
0     1   99.36       NaN         NaN       NaN
1     2   98.73 -0.006361    0.000040  0.527481
2     3   98.97  0.002428    0.000006  0.543794
3     4   99.94  0.009753    0.000095  0.560613
4     5  100.20  0.002598    0.000007  0.577951
5     6  101.47  0.012595    0.000159  0.595826
6     7  102.06  0.005798    0.000034  0.614254
7     8  101.50 -0.005502    0.000030  0.633251
8     9  102.45  0.009316    0.000087  0.652836
9    10  102.89  0.004286    0.000018  0.673027
10   11  103.09  0.001942    0.000004  0.693842
11   12  103.71  0.005996    0.000036  0.715301
12   13  104.04  0.003177    0.000010  0.737424
13   14  105.17  0.010803    0.000117  0.760231
14   15  104.52 -0.006200    0.000038  0.783743
15   16  104.32 -0.001915    0.000004  0.807983
16   17  103.31 -0.009729    0.000095  0.832972
17   18  102.27 -0.010118    0.000102  0.858734
18   19  101.63 -0.006278    0.000039  0.885293
19   20  101.22 -0.004042    0.000016  0.912673
20   21  101.44  0.002171    0.000005  0.940900
21   22  101.04 -0.003951    0.000016  0.970000

In [103]:
weighted_square_rets = [math.nan]
for index, row in df.iterrows():
    if index == 0:
        continue
    weighted_square_rets.append(row['Decay'] * row['Log_square'])

In [104]:
df['weighted_square_rets'] = weighted_square_rets

In [105]:
df

    Day   Price       Log  Log_square     Decay  weighted_square_rets
0     1   99.36       NaN         NaN       NaN                   NaN
1     2   98.73 -0.006361    0.000040  0.527481              0.000021
2     3   98.97  0.002428    0.000006  0.543794              0.000003
3     4   99.94  0.009753    0.000095  0.560613              0.000053
4     5  100.20  0.002598    0.000007  0.577951              0.000004
5     6  101.47  0.012595    0.000159  0.595826              0.000095
6     7  102.06  0.005798    0.000034  0.614254              0.000021
7     8  101.50 -0.005502    0.000030  0.633251              0.000019
8     9  102.45  0.009316    0.000087  0.652836              0.000057
9    10  102.89  0.004286    0.000018  0.673027              0.000012
10   11  103.09  0.001942    0.000004  0.693842              0.000003
11   12  103.71  0.005996    0.000036  0.715301              0.000026
12   13  104.04  0.003177    0.000010  0.737424              0.000007
13   14  105.17  0.010803    0.000117  0.760231              0.000089
14   15  104.52 -0.006200    0.000038  0.783743              0.000030
15   16  104.32 -0.001915    0.000004  0.807983              0.000003
16   17  103.31 -0.009729    0.000095  0.832972              0.000079
17   18  102.27 -0.010118    0.000102  0.858734              0.000088
18   19  101.63 -0.006278    0.000039  0.885293              0.000035
19   20  101.22 -0.004042    0.000016  0.912673              0.000015
20   21  101.44  0.002171    0.000005  0.940900              0.000004
21   22  101.04 -0.003951    0.000016  0.970000              0.000015

In [140]:
# TODO: why doesn't this equal 10.5% like in the book?
math.sqrt(df['weighted_square_rets'].iloc[1:].sum()/(len(df)-1))/df['Decay'].iloc[1:].sum()*math.sqrt(248)

0.00586045342951279

In [133]:
.006675*math.sqrt(248)

0.10511800511805769